<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Hospital Management System - Login</title>
	
	<th:block th:replace="fragments/styles :: common"></th:block>
	
</head>
<body class="login">
    <div>
      <h1 style="text-align:center"> Hospital Management System </h1>
      <div class="text-center"> <img th:src="@{/images/library.jpg}"  style="width: 20%"></div>
      <div class="login_wrapper">
          <section class="login_content">
            <form th:action="@{/login}" method="post" id="loginform">
              <h1>User Login</h1>
              <div>
                <input type="text" class="form-control" placeholder="Username" name="username" />
              </div>
              <div>
                <input type="password" class="form-control" placeholder="Password" name="password" />
              </div>
              <div>
                <a class="btn btn-primary" href="javascript:void(0)" onclick="document.getElementById('loginform').submit();">Login</a>
              </div>

              <div class="clearfix"></div>

              <div class="separator">

                <div class="clearfix"></div>
                <br />

                <div>
                  <h4><i class="fa fa-book" style="font-size:48px;color:greenyellow"></i>  Hospital Management System</h4>
                    <h6> Developed By- T.M. Saad Rayhan </h6>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
      
  </body>
</html>